doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/vendor/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/vendor/font-awesome/css/font-awesome.min.css')
    body
      div#calendar
        span#red Make
        span#white Calendars
        span#blue Great Again
        span#red !
        span#white !
        span#blue !
      //-i.fa.fa-flag-checkered
      h1#yep You're an fu@$ing loser if you're not using Node-Cal!
