block content
    link(rel='stylesheet', href='/vendor/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/vendor/font-awesome/css/font-awesome.min.css')
  body
    h1 NEWS!!
    p Top Story:
      a(href=topStory.url)= topStory.title
